extends head 
block content
    .container
        .add-post__box
            h2 New post
            form#add-post
                input(type="text" name="title" placeholder='title' required)
                textarea(type="text" name="description" placeholder='description' required)
                input(type="submit" class="btn add-post__btn" value="send")