extends head 
block content
    div.container.box-login
        form#login(method="post" action="/auth/login")
            input(type="email" placeholder="email" name="email")
            input(type="password" placeholder="password" name="password")
            input(class="btn" type="submit" value="Sign in")