extends layout

block scripts
  script(type="module", src="/public/auth.js")

block content
  h3 Please log in
  form(method="POST")
    div.group
      label(for="login") Username
      input#login(type="text", name="login", placeholer="Name" required)
    div.group
      label(for="password") Password
      input#pass(type="password", name="password" required)
    div#error=locals.error
    button(type="submit") Log me in