extends head 
block content
    div.container
        h2.my-posts__title My posts
        if posts.length === 0
            p You have not created any posts yet
        else
            div.posts__box
                each item in posts
                    div.post
                        a(href=`/user-post/${item._id}`)
                            h3= item.title
                            h4= item.user_id.username
                            div.button-wrapper
                                button.post__read-btn Read
                                form(action=`/posts/${item._id}/delete` method="post" id="deleteForm")
                                    button(class="post__delete-btn" type="submit") Delete
